<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <link
    href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    rel="stylesheet"
  />
  <body>
    <section class="menu container mt-12 px-12 mx-auto py-8">
      <h1 class="text-xl font-bold mb-8">All food</h1>
      <div
        class="grid xs:grid-cols-2 sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-4 gap-y-10 md:gap-y-20 md:gap-x-20"
      >
        <% foods.forEach(function(food) { %>

        <div class="w-64">
          <img class="h-40 mb-4 mx-auto" src="/img/<%= food.image %>" alt="" />
          <div class="text-center">
            <h2 class="mb-4 text-lg"><%= food.name %></h2>
            <span class="size py-1 px-4 text-xs rounded-full uppercase"
              ><%= food.size %></span
            >
            <div class="flex items-center justify-around mt-6">
              <span class="font-bold text-lg">₹ <%= food.price %></span>
              <button
                data-food="<%= JSON.stringify(food) %>"
                class="add-to-cart py-1 px-5 rounded-full font-bold"
              >
                <span>+</span> <span class="ml-4">Add</span>
              </button>
            </div>
          </div>
        </div>

        <% })%>
      </div>
    </section>
  </body>
</html>

<!-- <section class="hero px-12 py-12">
  <div class="container mx-auto flex items-center justify-between">
    <div class="w-1/2">
      <h6 class="text-lg"><em>Are you hungry?</em></h6>
      <h1 class="text-3xl md:text-6xl font-bold">Don't wait !</h1>
      <button
        class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary"
      >
        Order Now
      </button>
    </div>
    <div class="w-1/2">
      <img src="/img/home.png" alt="" />
    </div>
  </div>
</section> -->
