<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <!-- Link Styling -->
  <link rel="stylesheet" href="/css/menu.css" />

  <link
    href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    rel="stylesheet"
  />

  <body>
    <section
      class="menu px-2 mx-4 md:px-8 xl:px-12 md:mx-8 xl:mx-12 mt-12 md:py-8 mx-auto mt-16"
    >
      <!-- Heading   -->
      <div class="mb-2">
        <a href="/menu" class="text-xl underline font-bold md:text-2xl">
          All Foods
        </a>
      </div>

      <!-- Search -->
      <div class="container">
        <input
          id="filterInput"
          class="border border-gray-400 p-2 w-3/4 mb-2 rounded-md text-green-700"
          type="text"
          placeholder="Search food "
          style="margin-right: 100px; margin-top: 20px; max-width: 300px"
        />
      </div>
      <hr />

      <!-- Varieties -->
      <div class="px-2 mt-4">
        <!-- Pizza -->

        <h2 class="font-semibold mb-4 border-b text-xl md:text-2xl">Pizza</h2>
        <div class="wrapper1" id="names1">
          <% foods.forEach(function(food) { %> <%
          if(food.id[food.id.length-1]=='e' ) { %>
          <div class="item1">
            <div class="w-full xs:w-4/5 md:w-64">
              <img
                class="h-40 mb-4 mx-auto rounded"
                src="/img/<%= food.image %>"
                alt=""
              />
              <div class="text-center mb-4">
                <div class="collection-item1 mb-4 text-xl">
                  <a href="#"><%= food.name %></a>
                </div>
                <!-- <h2 class="mb-4 text-lg"><%= food.name %></h2> -->
                <span
                  class="size py-1 px-4 rounded-full uppercase text-xs"
                  style="color: #918e8e"
                  ><%= food.size %></span
                >
                <div class="flex items-center justify-evenly mt-6">
                  <span class="font-bold text-lg">₹ <%= food.price %></span>
                  <button
                    data-food="<%= JSON.stringify(food) %>"
                    class="add-to-cart py-1 px-5 rounded-full font-bold"
                  >
                    <span>+</span> <span class="ml-2 md:ml-4">Add</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <% }%> <% })%>
        </div>

        <!-- Coffee -->

        <h2 class="font-semibold mb-4 text-xl md:text-2xl border-b">Coffee</h2>
        <div class="wrapper1" id="names2">
          <% foods.forEach(function(food) { %> <%
          if(food.id[food.id.length-1]=='d' ) { %>
          <div class="item2">
            <div class="w-full xs:w-4/5 md:w-64">
              <img
                class="h-40 mb-4 mx-auto rounded"
                src="/img/<%= food.image %>"
                alt=""
              />
              <div class="text-center mb-4">
                <div class="collection-item2 mb-4 text-xl">
                  <a href="#"><%= food.name %></a>
                </div>
                <!-- <h2 class="mb-4 text-lg"><%= food.name %></h2> -->
                <span
                  class="size py-1 px-4 rounded-full uppercase text-xs"
                  style="color: #918e8e"
                  ><%= food.size %></span
                >
                <div class="flex items-center justify-evenly mt-6">
                  <span class="font-bold text-lg">₹ <%= food.price %></span>
                  <button
                    data-food="<%= JSON.stringify(food) %>"
                    class="add-to-cart py-1 px-5 rounded-full font-bold"
                  >
                    <span>+</span> <span class="ml-2 md:ml-4">Add</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <% }%> <% })%>
        </div>

        <!-- Drinks -->

        <h2 class="font-semibold mb-4 text-xl md:text-2xl border-b">Drinks</h2>
        <div class="wrapper1" id="names3">
          <% foods.forEach(function(food) { %> <%
          if(food.id[food.id.length-1]=='f' ) { %>
          <div class="item3">
            <div class="w-full xs:w-4/5 md:w-64">
              <img
                class="h-40 mb-4 mx-auto rounded"
                src="/img/<%= food.image %>"
                alt=""
              />
              <div class="text-center mb-4">
                <div class="collection-item3 mb-4 text-xl">
                  <a href="#"><%= food.name %></a>
                </div>
                <span
                  class="size py-1 px-4 rounded-full uppercase text-xs"
                  style="color: #918e8e"
                  ><%= food.size %></span
                >
                <div class="flex items-center justify-evenly mt-6">
                  <span class="font-bold text-lg">₹ <%= food.price %></span>
                  <button
                    data-food="<%= JSON.stringify(food) %>"
                    class="add-to-cart py-1 px-5 rounded-full font-bold"
                  >
                    <span>+</span> <span class="ml-2 md:ml-4">Add</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <% }%> <% })%>
        </div>

        <!-- Others -->

        <h2 class="font-semibold mb-4 text-xl border-b md:text-2xl">Others</h2>
        <div class="wrapper1" id="names4">
          <% foods.forEach(function(food) { %> <%
          if(food.id[food.id.length-1]=='2' ) { %>
          <div class="item4">
            <div class="w-full xs:w-4/5 md:w-64">
              <img
                class="h-40 mb-4 mx-auto rounded"
                src="/img/<%= food.image %>"
                alt=""
              />
              <div class="text-center mb-4">
                <div class="collection-item4 mb-4 text-xl">
                  <a href="#"><%= food.name %></a>
                </div>
                <span
                  class="size py-1 px-4 rounded-full uppercase text-xs"
                  style="color: #918e8e"
                  ><%= food.size %></span
                >
                <div class="flex items-center justify-evenly mt-6">
                  <span class="font-bold text-lg">₹ <%= food.price %></span>
                  <button
                    data-food="<%= JSON.stringify(food) %>"
                    class="add-to-cart py-1 px-5 rounded-full font-bold"
                  >
                    <span>+</span> <span class="ml-2 md:ml-4">Add</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <% }%> <% })%>
        </div>

        <!-- WEEK -->

        <h2 id="week" class="font-semibold mb-4 text-xl border-b md:text-2xl">
          Weekly Special
        </h2>
        <div class="wrapper1" id="names5">
          <% foods.forEach(function(food) { %> <%
          if(food.id[food.id.length-1]=='9' ) { %>
          <div class="item5">
            <div class="w-full xs:w-4/5 md:w-64">
              <img
                class="h-40 mb-4 mx-auto rounded"
                src="/img/<%= food.image %>"
                alt=""
              />
              <div class="text-center mb-4">
                <div class="collection-item5 mb-4 text-xl">
                  <a href="#"><%= food.name %></a>
                </div>
                <span
                  class="size py-1 px-4 rounded-full uppercase text-xs"
                  style="color: #918e8e"
                  ><%= food.size %></span
                >
                <div class="flex items-center justify-evenly mt-6">
                  <span class="font-bold text-lg">₹ <%= food.price %></span>
                  <button
                    data-food="<%= JSON.stringify(food) %>"
                    class="add-to-cart py-1 px-5 rounded-full font-bold"
                  >
                    <span>+</span> <span class="ml-2 ml-4">Add</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <% }%> <% })%>
        </div>
      </div>
      <a
        href="/menu"
        class="font-bold text-green-700 block border-t pt-2 text-xl md:text-2xl"
        >View all food Items-></a
      >
    </section>

    <script>
      // Search For Pizza
      //Get input Element
      let filterInput1 = document.getElementById("filterInput");
      //Add Event Listener
      filterInput1.addEventListener("keyup", filterNames1);
      function filterNames1() {

        // Get Value Of input
        let filterValue = document
          .getElementById("filterInput")
          .value.toUpperCase();

        //Get Names ul
        let ul1 = document.getElementById("names1");

        let lia = ul1.querySelectorAll("div.collection-item1");
        let target1__Container = document.getElementById("names1");
        let container1__Visibility = target1__Container.querySelectorAll(
          "div.item1"
        );
        for (let i = 0; i < lia.length; i++) {
          let a = lia[i].getElementsByTagName("a")[0];
          // If Matched
          if (a.innerHTML.toUpperCase().indexOf(filterValue) > -1) {
            lia[i].style.display = "";
            container1__Visibility[i].style.display = "";
          } else {
            lia[i].style.display = "none";
            container1__Visibility[i].style.display = "none";
          }
        }
      }
      // Search For Coffee
      //Get input Element
      let filterInput2 = document.getElementById("filterInput");
      //Add Event Listener
      filterInput2.addEventListener("keyup", filterNames2);
      function filterNames2() {

        // Get Value Of input
        let filterValue = document
          .getElementById("filterInput")
          .value.toUpperCase();

        //Get Names ul
        let ul1 = document.getElementById("names2");

        let lia = ul1.querySelectorAll("div.collection-item2");
        let target1__Container = document.getElementById("names2");
        let container1__Visibility = target1__Container.querySelectorAll(
          "div.item2"
        );
        for (let i = 0; i < lia.length; i++) {
          let a = lia[i].getElementsByTagName("a")[0];
          // If Matched
          if (a.innerHTML.toUpperCase().indexOf(filterValue) > -1) {
            lia[i].style.display = "";
            container1__Visibility[i].style.display = "";
          } else {
            lia[i].style.display = "none";
            container1__Visibility[i].style.display = "none";
          }
        }
      }
      // Search For Drinks
      //Get input Element
      let filterInput3 = document.getElementById("filterInput");
      //Add Event Listener
      filterInput3.addEventListener("keyup", filterNames3);
      function filterNames3() {

        // Get Value Of input
        let filterValue = document
          .getElementById("filterInput")
          .value.toUpperCase();

        //Get Names ul
        let ul1 = document.getElementById("names3");

        let lia = ul1.querySelectorAll("div.collection-item3");
        let target1__Container = document.getElementById("names3");
        let container1__Visibility = target1__Container.querySelectorAll(
          "div.item3"
        );
        for (let i = 0; i < lia.length; i++) {
          let a = lia[i].getElementsByTagName("a")[0];
          // If Matched
          if (a.innerHTML.toUpperCase().indexOf(filterValue) > -1) {
            lia[i].style.display = "";
            container1__Visibility[i].style.display = "";
          } else {
            lia[i].style.display = "none";
            container1__Visibility[i].style.display = "none";
          }
        }
      }
      // Search For Others
      //Get input Element
      let filterInput4 = document.getElementById("filterInput");
      //Add Event Listener
      filterInput4.addEventListener("keyup", filterNames4);
      function filterNames4() {

        // Get Value Of input
        let filterValue = document
          .getElementById("filterInput")
          .value.toUpperCase();
        
        //Get Names ul
        let ul1 = document.getElementById("names4");
        let lia = ul1.querySelectorAll("div.collection-item4");
        let target1__Container = document.getElementById("names4");
        let container1__Visibility = target1__Container.querySelectorAll(
          "div.item4"
        );
        for (let i = 0; i < lia.length; i++) {
          let a = lia[i].getElementsByTagName("a")[0];
          // If Matched
          if (a.innerHTML.toUpperCase().indexOf(filterValue) > -1) {
            lia[i].style.display = "";
            container1__Visibility[i].style.display = "";
          } else {
            lia[i].style.display = "none";
            container1__Visibility[i].style.display = "none";
          }
        }
      }

      // Search For WEEK
      //Get input Element
      let filterInput5 = document.getElementById("filterInput");
      //Add Event Listener
      filterInput5.addEventListener("keyup", filterNames5);
      function filterNames5() {
        
        // Get Value Of input
        let filterValue = document
          .getElementById("filterInput")
          .value.toUpperCase();
       
        //Get Names ul
        let ul1 = document.getElementById("names5");
        let lia = ul1.querySelectorAll("div.collection-item5");
        let target1__Container = document.getElementById("names5");
        let container1__Visibility = target1__Container.querySelectorAll(
          "div.item5"
        );
        for (let i = 0; i < lia.length; i++) {
          let a = lia[i].getElementsByTagName("a")[0];
          // If Matched
          if (a.innerHTML.toUpperCase().indexOf(filterValue) > -1) {
            lia[i].style.display = "";
            container1__Visibility[i].style.display = "";
          } else {
            lia[i].style.display = "none";
            container1__Visibility[i].style.display = "none";
          }
        }
      }
    </script>
  </body>
</html>
